.card {
    border-radius: 10px;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .list-unstyled li {
    margin-bottom: 10px;
  }
  
  .list-unstyled li a {
    color: #000;
    font-weight: 500;
  }
  
  .list-unstyled li a:hover {
    text-decoration: underline;
  }
  
  .btn-danger {
    font-size: 1rem;
    font-weight: bold;
  }
  