<div class="hero-section" *ngIf="featuredMovie"> 
  <img
    [src]="'https://image.tmdb.org/t/p/w1280' + featuredMovie.poster_path"
    [alt]="featuredMovie.title"
    class="hero-img"
  />
  <div class="hero-content">
    <h1>{{ featuredMovie.title }}</h1>
    <p>{{ featuredMovie.overview }}</p>
    <button class="btn play-now">
      <i class="fas fa-play"></i> Guarda Ora
    </button>
    <button class="btn more-info">
      <i class="fas fa-info-circle"></i> Altre Info
    </button>
  </div>
</div>

<div class="carousel-section ms-3 p-5" *ngIf="movieCategories.length > 0">
  <div *ngFor="let category of movieCategories">
    <h2 class="category-title">{{ category.name }}</h2>
    <carousel [itemsPerSlide]="6" [interval]="0" [noWrap]="false" [startFromIndex]="0">
      <ng-container *ngFor="let movie of category.movies">
        <slide>
          <div class="movie-item">
            <div class="poster-container">
              <img
                [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
                [alt]="movie.title"
                class="poster-img"
              />
              <!-- Overlay with trailer or other content -->
              <div class="hover-overlay" *ngIf="movie.showTrailer">
                <div class="trailer-container">
                  <iframe
                    *ngIf="movie.trailerUrl"
                    [src]="movie.trailerUrl"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
                <div class="movie-info-overlay">
                  <h3>{{ movie.title }}</h3>
                  <p>{{ movie.genres }}</p>
                  <!-- Additional buttons/actions -->
                </div>
              </div>
            </div>
          </div>
        </slide>
      </ng-container>
    </carousel>
  </div>
</div>
