<div class="hero-section" *ngIf="featuredMovie">
  <img [src]="'https://image.tmdb.org/t/p/w1280' + featuredMovie.poster_path" [alt]="featuredMovie.title"
    class="hero-img" />
  <div class="hero-content">
    <h1>{{ featuredMovie.title }}</h1>
    <p>{{ featuredMovie.overview }}</p>
    <button class="btn play-now">
      <i class="fas fa-play"></i> Guarda Ora
    </button>
    <button class="btn more-info">
      <i class="fas fa-info-circle"></i> Altre Info
    </button>
  </div>
</div>

<div class="carousel-section  p-5" *ngIf="movieCategories.length > 0">
  <div *ngFor="let category of movieCategories">
    <h2 class="category-title">{{ category.name }}</h2>

    <carousel [itemsPerSlide]="6" [interval]="0" [noWrap]="false" [startFromIndex]="0">
      <ng-container *ngFor="let movie of category.movies">
        <slide>
          <div class="movie-item" *ngIf="movie.poster_path; else noMovie" (click)="openModal(movie)">
            <div class="poster-container">
              <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.title"
                class="poster-img" />
            </div>
          </div>
          <ng-template #noMovie>
            <div class="movie-item">
              <div class="poster-container">
                <p class="text-white">Non disponibile</p>
              </div>
            </div>
          </ng-template>
        </slide>
      </ng-container>
    </carousel>
  </div>
</div>


<!-- modale -->
<app-movie-modal *ngIf="isModalOpen" [movie]="selectedMovie!" (close)="closeModal()"></app-movie-modal>