<div class="login-container">
    <div class="login-card">
      <h3 class="text-center mb-4">Accedi</h3>
  
      <!-- Form di login -->
      <form (ngSubmit)="onLogin()">
        <div class="form-group mb-3">
          <label for="email" class="form-label">Indirizzo email o numero di cellulare</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
            class="form-control bg-dark text-white border-1 border-white bg-opacity-50"
            required
          />
        </div>
        <div class="form-group mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            [(ngModel)]="password"
            name="password"
            class="form-control bg-dark text-white border-1 border-white bg-opacity-50" 
            required
          />
        </div>
        <button type="submit" class="btn btn-danger w-100 mb-3">Accedi</button>
      </form>
  
      <div class="text-center text-light mb-3">OPPURE</div>
  
      <!-- Google Login Button -->
      <div id="buttonDiv" class="d-flex justify-content-center mb-3"></div>
  
      <a href="#" class="text-light d-block text-center">Hai dimenticato la password?</a>
      <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" id="rememberMe" />
        <label class="form-check-label" for="rememberMe">Ricordami</label>
      </div>
  
      <div class="mt-4 text-center">
        <span>Prima volta su Netflix? <a href="#" class="text-white">Registrati.</a></span>
      </div>
      <div class="mt-3 text-center text-light" style="font-size: 0.8rem;">
        Questa pagina è protetta da Google reCAPTCHA per garantire che tu non sia un bot.
      </div>
    </div>
  </div>
  