
.container {
    max-width: 800px;
    margin: auto;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .list-group-item {
    cursor: pointer;
  }
  
  .list-group-item:hover {
    background-color: #f8f9fa;
  }
  
  .rounded-circle {
    display: inline-block;
  }
  
  i{
    margin: 10px;
  }