.card {
    border-radius: 10px;
  }
  
  .list-group-item {
    cursor: pointer;
  }
  
  .list-group-item:hover {
    background-color: #f8f9fa;
  }
  
  .btn[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .premium-card {
    background: linear-gradient(to right, #1F509C, #DA0C1C);
    color: white;
    border-radius: 10px; /* Arrotondamento degli angoli */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    font-family: Arial, sans-serif;
  }
  
  .premium-card .label {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.2); /* Sfondo trasparente */
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .premium-card .title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .premium-card .description {
    font-size: 14px;
  }
  
  .premium-card .price {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
  }
  