.card {
    border-radius: 10px;
  }
  
  .list-group-item {
    cursor: pointer;
  }
  
  .list-group-item:hover {
    background-color: #f8f9fa;
  }
  
  .btn[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
