<div class="container-fluid bg-white p-5 text-black">
    <div class="container mt-md-5">
        <!-- Intestazione -->
        <div class="text-center mb-4 ">
          <img
            src="./assets/img_sicurezza.avif"
            alt="Shield Icon"
            class="mb-3 w-25"
          />
          <h2>Gestisci accessi e dispositivi</h2>
          <p class="text-muted">
            Questi dispositivi connessi sono stati attivi di recente su questo account. Puoi disconnettere i dispositivi che non riconosci o
            <a href="#" class="text-decoration-none">cambiare la password</a> per maggiore sicurezza.
          </p>
        </div>
      
        <!-- Dispositivi -->
        <div class="row">
          <div class="col-md-6 mb-4" *ngFor="let dispositivo of dispositivi">
            <div class="card shadow-sm">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="card-title mb-2">
                      <i class="bi bi-display-fill mr-2"></i>{{ dispositivo.nome }}
                    </h5>
                    <p class="text-muted mb-1">{{ dispositivo.profilo }}</p>
                    <p class="text-muted mb-0">
                      <i class="bi bi-clock mr-2"></i>{{ dispositivo.data }}
                    </p>
                  </div>
                  <div>
                    <span *ngIf="dispositivo.attuale" class="badge badge-primary text-dark ">DISPOSITIVO ATTUALE</span>
                    <button
                      class="btn btn-outline-danger btn-sm mt-2"
                      (click)="disconnettiDispositivo(dispositivo)"
                      *ngIf="!dispositivo.attuale"
                    >
                      Esci
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Pulsanti aggiuntivi -->
        <div class="text-center mt-4">
          <button class="btn btn-outline-secondary btn-sm">Mostra altri</button>
          <p class="text-muted mt-2">
            L'elenco potrebbe non essere completo. Alcuni dispositivi e alcune attività potrebbero non essere visibili. <a href="#" class="text-decoration-none">Scopri di più</a>.
          </p>
          <button class="btn btn-danger btn-sm mt-3" (click)="disconnettiTutti()">
            Esci dall'account su tutti i dispositivi
          </button>
        </div>
      </div>
      
</div>