<div class="container mt-4">
    <h1 class="mb-3">Account</h1>
    <div class="card mb-4">
      <div class="card-header bg-light text-dark">
        <h5 class="m-0">Dettagli abbonamento</h5>
      </div>
      <div class="card-body p-0">
        <div class="d-flex justify-content-between align-items-center p-3 ">
          <div>
            <h6>Piano Premium</h6>
            <p class="mb-0 text-muted">Prossimo pagamento: 23 dicembre 2024</p>
          </div>
          <div>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Mastercard_2019_logo.svg"
              alt="Mastercard Logo"
              style="height: 20px;"
            />
            <span class="ml-2">**** 8523</span>
          </div>
        </div>
    
        <ul class="list-group rounded-top-0">
            <li class="list-group-item d-flex justify-content-between align-items-center " [routerLink]="['/abbonamento']">
                Gestisci abbonamento
              <i class="bi bi-chevron-right"></i>
            </li>
        </ul>
      </div>
    </div>
  
    <div>
      <h5 class="mb-3">Link rapidi</h5>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center " [routerLink]="['/modifica-piano']">
          Modifica piano
          <i class="bi bi-chevron-right"></i>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Gestisci metodo di pagamento
          <i class="bi bi-chevron-right"></i>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Acquista uno slot per utente extra
          <span class="badge badge-primary">Nuovo</span>
          <i class="bi bi-chevron-right"></i>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Gestisci accessi e dispositivi
          <i class="bi bi-chevron-right"></i>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Aggiorna la password
          <i class="bi bi-chevron-right"></i>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Trasferisci un profilo
          <i class="bi bi-chevron-right"></i>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Modifica filtro famiglia
          <i class="bi bi-chevron-right"></i>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Modifica impostazioni
          <i class="bi bi-chevron-right"></i>
        </li>
      </ul>
    </div>
  
    <!-- <div class="mt-4">
      <h5 class="mb-3">Gestisci i profili</h5>
      <div class="d-flex">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Smiley_face.svg"
          alt="Profile"
          class="rounded-circle border"
          style="width: 50px; height: 50px; margin-right: 10px;"
        />
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Smiley_face.svg"
          alt="Profile"
          class="rounded-circle border"
          style="width: 50px; height: 50px; margin-right: 10px;"
        />
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Smiley_face.svg"
          alt="Profile"
          class="rounded-circle border"
          style="width: 50px; height: 50px; margin-right: 10px;"
        />
      </div>
    </div> -->
  </div>
  