
  <div class="container-fluid bg-white p-5 text-black ">
<div class="container py-5">
    <h2 class="mb-4">Modifica password</h2>
    <p class="text-muted">
      Proteggi il tuo account con una password unica di almeno 6 caratteri.
    </p>
  
    <!-- Form -->
    <form (ngSubmit)="modificaPassword()">
      <!-- Password Attuale -->
      <div class="form-group">
        <label for="currentPassword">Password attuale</label>
        <input
          type="password"
          class="form-control"
          id="currentPassword"
          placeholder="Password attuale"
          [(ngModel)]="currentPassword"
          name="currentPassword"
          required
        />
        <a href="#" class="small text-decoration-none">Hai dimenticato la password?</a>
      </div>
  
      <!-- Nuova Password -->
      <div class="form-group mt-3">
        <label for="newPassword">Nuova password (6-60 caratteri)</label>
        <input
          type="password"
          class="form-control"
          id="newPassword"
          placeholder="Nuova password"
          [(ngModel)]="newPassword"
          name="newPassword"
          minlength="6"
          maxlength="60"
          required
        />
      </div>
  
      <!-- Reinserisci Nuova Password -->
      <div class="form-group mt-3">
        <label for="confirmPassword">Reinserisci la nuova password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Reinserisci la nuova password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
        />
      </div>
  
      <!-- Checkbox -->
      <div class="form-check mt-3">
        <input
          type="checkbox"
          class="form-check-input"
          id="logoutDevices"
          [(ngModel)]="logoutDevices"
          name="logoutDevices"
        />
        <label class="form-check-label" for="logoutDevices">
          Esci dall'account su tutti i dispositivi
        </label>
      </div>
  
      <!-- Pulsanti -->
      <div class="mt-4">
        <button type="submit" class="btn btn-primary">Salva</button>
        <button type="button" class="btn btn-secondary ml-2" (click)="annulla()">Annulla</button>
      </div>
    </form>
  </div>
  </div>