.container {
    max-width: 500px;
    margin: auto;
  }
  
  h2 {
    font-weight: bold;
  }
  
  form a {
    color: #007bff;
  }
  
  form a:hover {
    text-decoration: underline;
  }
  
  button {
    font-weight: bold;
  }
  